.Right-Header {
    display: flex;
  }
  
  .Header-Cart {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Header-buttons {
    width: 240px;
    display: flex;
    align-items: center;
  }
  
  .Cart {
    height: 23px;
    width: 23px;
    cursor: pointer;
  }
  
  #Sign-Up, #Log-In {
    border: none;
    font-size: 15px;
    width: 120px;
    height: 30px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #Sign-Up {
    margin-right: 10px;
    background-color: #ebebeb;
    padding-bottom: 3px;
  }
  
  #Sign-Up:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  #Log-In {
    background-color: black;
    color: white;
    padding-bottom: 3px;
  }
  
  #Log-In:hover {
    background-color: #303030;
  }
  
  .Search-bar {
    display: flex;
    align-items: center;
  }
  
  .Search {
    border: none;
    width: 100%;
    height: 26px;
    padding-left: 20px;
    background-color: #ebebeb;
    border-radius: 5px;
    padding-bottom: 5px;
  }
  
  .Search::placeholder {
    font-size: 14px;
  }
  
  .Search-icon {
    height: 16px;
    width: 16px;
    margin-left: -40px;
    cursor: pointer;
  }
  
  .Left-Header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Shop-Name {
    height: 26px;
  }
  
  .Slide-picture {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Temporary-slide {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .Item-Bio {
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .Item {
    width: 230px;
    height: 400p;
    cursor: pointer;
    background-color: white;
  }
  
  .Item:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .Item-Bio p {
    margin-bottom: 4px;
  }
  
  .Item-Title, .Item-City {
    font-size: 11px;
  }
  
  .Item-Price {
    font-size: 16px;
    font-weight: bold;
  }
  
  .Item-Buttons {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .Buy-Button,.Add-To-Cart {
    height: 30px;
    border: none;
    background-color: #ebebeb;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .Buy-Button {
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .Buy-Button:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  
  .Add-To-Cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
  }
  
  .Add-To-Cart:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  
  .Cart2 {
    height: 20px;
    width: 20px;
  }
  
  .Categories {
    background-color: #cccccc;
    font-size: 12px;
    margin-left: -20px;
    margin-right: -20px;
  }